modules = ["nodejs-20", "web", "postgresql-16", "python3", "python-3.12"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["openssl"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "vm"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8460790867:AAEwHAqTdAFTHXAq2zgw4x9ndngF3Ua34uU"
USERBOT1_API_ID = "31591423"
USERBOT1_API_HASH = "259a1923300becb6a3f0b313f7f39874"
USERBOT2_API_ID = "35692817"
USERBOT2_API_HASH = "b28e22256aa26bc9e7d8703bd541a927"
USERBOT3_API_ID = "33167458"
USERBOT3_API_HASH = "eca8dbf21be430d6aabd768bc6db6269"
USERBOT4_API_ID = "38322357"
USERBOT4_API_HASH = "16d460e7bfbf8d783992490ccadda270"
